<div class="main-admin">
  <div class="content">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th class="col">Id</th>
          <th class="col">Username</th>
          <th class="col">Email</th>
          <th class="col">Role</th>
        </tr>
      </thead>
      <tbody>
        @for (utilisateur of utilisateurs; track utilisateur) {
          <tr class="table-light">
            <td>{{ utilisateur.id }}</td>
            <td>{{ utilisateur.name }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.role }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

