<div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bold">👥 Gestion des profils</h2>
      <button class="btn btn-primary" (click)="router.navigate(['/admin/users/add'])">
        <i class="bi bi-person-plus"></i> Ajouter un profil
      </button>
    </div>
  
    <!-- Table des utilisateurs -->
    <div class="card shadow-sm">
      <div class="card-body p-0">
        <table class="table table-hover mb-0 align-middle">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Photo</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Numéro</th>
              <th>Position</th>
              <th>Hauteur</th>
              <th>Date d’inscription</th>
              <th class="text-end">Actions</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let profil of utilisateurs; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                @if (profil.profilePicturePath) {
                  <img [src]="profil.profilePicturePath" alt="Photo de {{ profil.user.firstName }} {{ profil.user.lastName }}" class="rounded-circle" width="50" height="50">
                }
                @else {
                  <img src="https://ui-avatars.com/api/?name={{ profil.user.firstName }} {{ profil.user.lastName }}&background=0D8ABC&color=fff&size=100" alt="Photo de {{ profil.user.firstName }} {{ profil.user.lastName }}" class="rounded-circle" width="50" height="50">
                }
              </td>
              <td>{{ profil.user.firstName }}</td>
              <td>{{ profil.user.lastName }}</td>
              <td>{{ profil.number }}</td>
              <td>{{ profil.position }}</td>
              <td>{{ profil.height }}</td>
              <td>{{ profil.createdAt | date:'dd/MM/yyyy HH:mm' }}</td>
              <td class="text-end">
                <button class="btn btn-sm btn-primary me-2" (click)="viewUser(profil)">
                  <i class="bi bi-eye"></i>
                </button>
                <button class="btn btn-sm btn-primary me-2">
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteUser(profil)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
  
            <!-- Cas aucun utilisateur -->
            <tr *ngIf="utilisateurs.length === 0">
              <td colspan="6" class="text-center py-4 text-muted">
                Aucun utilisateur trouvé 😔
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  