<div class="admin-layout d-flex">
    <!-- Sidebar -->
    <aside class="sidebar bg-dark text-light p-3">
      <h4 class="mb-4">Admin Panel</h4>
      <nav>
        <h5 class="mb-2">Général</h5>

        <a routerLink="/admin/dashboard" class="nav-link text-light mb-2">
          <i class="bi bi-speedometer"></i>
          Dashboard
        </a>
        <a routerLink="/admin/users" class="nav-link text-light mb-2">
          <i class="bi bi-person-vcard-fill"></i>
          Utilisateurs
        </a>
        <a routerLink="/admin/settings" class="nav-link text-light mb-2">
          <i class="bi bi-gear"></i>
          Paramètres
        </a>
      </nav>

      <nav class="mt-4">
        <h5 class="mb-2">Modèle</h5>
        <a routerLink="/admin/profils" class="nav-link text-light mb-2">
          <i class="bi bi-person-circle"></i>
          Profils
        </a>
        <a routerLink="/admin/teams" class="nav-link text-light mb-2">
          <i class="bi bi-people-fill"></i>
          Equipes
        </a>
        <a routerLink="/admin/matches" class="nav-link text-light mb-2">
          <i class="bi bi-lightning-fill"></i>
 Matchs
        </a>
      </nav>
    </aside>
  
    <!-- Main content -->
    <div class="main flex-grow-1">
      <header class="navbar bg-light shadow-sm p-3 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Bienvenue Admin 👋</h5>
        <button class="btn btn-outline-danger btn-sm" (click)="logout()">Déconnexion</button>
      </header>
  
      <main class="p-4">
        <router-outlet></router-outlet>
      </main>
    </div>
</div>
  